.big-box{display:flex;
}

div.bg-yellow {
    background-color: #FFF4A3;
    padding: 20px;
    margin-bottom: 20px;
}
div.bg-pink {
    background-color: #FFC0CB;
    padding: 20px;
    margin-bottom: 20px;
}
div.bg-green {
    background-color: #C1E1C1;
    padding: 20px;
    margin-bottom: 20px;
}